/** 自定义黑暗主题 */
html.dark {
  // * admin
  --v-bg-color: #141414;
  --v-main-bg-color: #0d0d0d;
  --v-border-light: 1px solid #4c4c4d;

  // scroll-bar
  ::-webkit-scrollbar {
    background-color: var(--el-scrollbar-bg-color) !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--el-border-color-darker) !important;
  }

  .layout-sidebar-container {
    background-color: var(--v-bg-color) !important;
  }

  .app-main-container {
    background-color: var(--v-main-bg-color) !important;

    .card {
      background-color: var(--v-bg-color) !important;
    }
  }

  .fold-unfold {
    color: #fff !important;
  }

  .el-scrollbar {
    background-color: var(--v-main-bg-color) !important;
  }

  .el-menu,
  .el-sub-menu,
  .el-menu-item,
  .el-sub-menu__title {
    background-color: var(--v-bg-color) !important;

    // 菜单字体颜色
    &:not(.is-active) {
      color: #fff !important;
    }

    // 菜单激活色
    &.is-active {
      color: var(--el-color-primary) !important;
      background-color: #363535 !important;
    }
  }

  .el-menu-item:not(.is-active):hover {
    background-color: var(--v-main-bg-color) !important;
  }

  .am-logo {
    background-color: var(--v-main-bg-color);
    border-bottom: #575656 1px solid;
  }

  .am-layout {
    background-color: var(--v-main-bg-color);
  }

  .am-layout-sidebar {
    border-right: #575656 1px solid;
  }


  .am-collapse {
    background-color: var(--v-main-bg-color) !important;
    border-top: #575656 1px solid;
    border-bottom: #575656 1px solid;
    border-right: #575656 1px solid;

    .collapse-ico {
      color: #aba9a9;
    }
  }

  .am-navbar {
    background-color: var(--v-main-bg-color) !important;
    border-bottom: #575656 1px solid;
    border-left: #575656 1px solid;
    color: #fff;
  }

  .am-content {
    background-color: var(--v-main-bg-color) !important;
    border-top: #575656 1px solid;
    border-left: #575656 1px solid;
    //border-bottom: #575656 1px solid;
    border-radius: 4px;
    color: #fff;
  }

  .table-header {
    .el-icon {
      color: #fff;
    }
  }
}
